################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/x64
/.vs/WxWidgetsTest/v16
/Images
/build
