################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/x64
/.vs/WxWidgetsTest/v16
/Images
/build
/Arduino/Debug
/.vs/WxWidgetsTest/v17
/Arduino/program.bat
/Arduino/.vs
/Arduino/myMonitor0/.vs
/Arduino/myMonitor0/obj/Release


